
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 198 78% 14%;

    --card: 0 0% 100%;
    --card-foreground: 198 78% 14%;

    --popover: 0 0% 100%;
    --popover-foreground: 198 78% 14%;

    --primary: 159 88% 33%;
    --primary-foreground: 0 0% 100%;

    --secondary: 198 78% 14%;
    --secondary-foreground: 0 0% 100%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 198 30% 40%;

    --accent: 159 88% 33%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 159 88% 33%;
    --input: 214 32% 91%;
    --ring: 198 78% 14%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

.animate-on-scroll {
  @apply transform transition-all duration-700 ease-out;
}

/* Headers */
h1, h2, h3, h4, h5, h6 {
  @apply font-bold text-[#052e40];
}

/* Button hover effect */
.button-hover-effect {
  @apply relative overflow-hidden;
}

.button-hover-effect:after {
  @apply content-[''] absolute inset-0 z-[-1] bg-[#E62F29] scale-x-0 transition-transform duration-300 origin-right;
}

.button-hover-effect:hover:after {
  @apply scale-x-100 origin-left;
}
